*, *::before, *::after { box-sizing: content-box; }

@mixin mobile {
  @media (max-width: 1100px) { @content; }
}

body {
  margin: auto;
  text-align: center;
}

// main.gallery {
//   padding: 2vw;
// }

.gallery > h1 {
  font-size: 3em;
  font-family: 'Montserrat';
  font-weight: 100;
  margin-bottom: 1em;
  color: #0C0C0C;
  text-align: center;
}

.gallery > .gallery__images {
  display: grid;
  padding: 0;
  margin: 1.5em auto;
  justify-content: center;

  grid-template-columns: repeat(4, 14em);
  grid-auto-rows: 14em;
  @include mobile { 
    grid-template-columns: repeat(2, 14em);
    grid-auto-rows: 14em;
  }
  grid-gap: 1.5em;
  grid-auto-flow: dense;
  list-style: none;
}

.gallery > .gallery__images > li:nth-child(5), .gallery > .gallery__images > li:nth-child(9){
  grid-column: span 2;
}

@include mobile {  
  .gallery > .gallery__images > li:nth-child(8), .gallery > .gallery__images > li:nth-child(10){
    grid-column: span 2;
    grid-row: span 2;
  }
}

.gallery > .gallery__images > li > figure {
  height: 100%;
  margin: 0px;
}

.gallery > .gallery__images > li > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-btn {
  height: 2.5em;
  width: 19em;
  background: #077187;
  border: none;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-size: 1.5em;
  margin-bottom: 2em;
}

#btn-panel {
  margin: 0em 5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.unchecked-btn {
  height: 2em;
  padding: 0em 1.6em;
  margin: 0.2em;
  border-radius: 1.2em;
  background: #FFFFFF;
  border: solid #074F57;
  border-width: 1px;
  color: #074F57;
  font-family: 'Montserrat';
  font-size: 0.75em;
}
.checked-btn {
  height: 2em;
  padding: 0em 1.6em;
  margin: 0.25em;
  border-radius: 1.2em;
  background: #074F57;
  border: solid #074F57;
  border-width: 1px;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-size: 0.75em;
}

// LOADER

.loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loader div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  animation: loader 1.2s linear infinite;
}
.loader div:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}
.loader div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}
.loader div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}
.loader div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}
.loader div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}
.loader div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}
.loader div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}
.loader div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}
.loader div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}
.loader div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}
.loader div:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}
.loader div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}
@keyframes loader {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}